---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: 'Roboto', sans-serif;;
$title-font-family: 'Raleway', sans-serif;;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Light green: 1ED760
// Almost white FAFAFA
// Dark green: 26 189 83
// Dark grey: #282828
// Dark steel: #181818

$text-color:       #111;
$background-color: #fafafa;
$brand-dark:       rgb(26,189,83); // Dark backgroud used in the HTML
$brand-color:      #1ED760; // Dark color on the left nav
$brand-light:      #1ED760; // Light brand color used on titles
$brand-secondary:  #E7DBC2; //


$grey-color:       #282828;
$grey-color-light: lighten($grey-color, 60%);
$grey-color-dark:  #181818;

// Width of the content area
$content-width:    100%;

$on-palm:          600px;
$on-laptop:        800px;




// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "grid"
;
