---
layout: default
permalink: /getting-started/
---

<div class="home">

  <h1 class="page-heading">The getting started series</h1>
  <p>This series covers what you'll need to get started on your system. We'll be covering things like installing an environment, using the terminal and the basics of the tools that you'll be using</p>
  

  <ul class="post-list">


    {% for post in site.posts %}
      {% if post.category contains 'Getting Started' %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
      {% endif %}
    {% endfor %}



  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>