<div class="side-container">
  <img class="close-icon" src="/assets/close.png" alt="" />

  <a class="logo" href="/"><img src="/assets/logo.png" alt="" /></a>
  <ul class="nav">
    <li class="nav-block"><a href="/getting-started">Getting Started</a></li>

    <li class="nav-block"><a href="/machine-learning">Machine Learning</a>
      <ul>
        <li>Supervised Learning</li>
        <li>Unsupervised Learning</li>
      </ul>
    </li>

    <li class="nav-block"><a href="/data-science">Data Science</a>
      <ul>
        <li>Finding Data</li>
        <li>Wrangling Data</li>
      </ul>
    </li>

    <li class="nav-block"><a href="/applications">Applications</a>
      <ul>
        <li>Healthcare</li>
        <li>Computer Vision</li>
        <li>NLP</li>
      </ul>
    </li>

    <li class="nav-block">Tools
      <ul>
        <li>Python</li>
        <li>R</li>
      </ul>
    </li>

    <li class="nav-block">Methods
      <ul>
        <li>Statistics</li>
        <li>Models</li>
        <li>Linear Algebra</li>
      </ul>
    </li>
  </ul>
</div>
