<div class="side-container">
  <a href="/"><img src="/assets/logo.png" alt="" /></a>
  <ul class="nav">

    <li><a href="/machine-learning">Machine Learning</a>
      <ul>
        <li>Supervised Learning</li>
        <li>Unsupervised Learning</li>
      </ul>
    </li>

    <li><a href="/data-science">Data Science</a>
      <ul>
        <li>NLP</li>
        <li>Computer Vision</li>
      </ul>
    </li>

    <li><a href="/epidemiology">Epidemiology and Econometrics</a>
      <ul>
        <li>Population Health</li>
        <li>Demography</li>
        <li>Micro Economics</li>
        <li>Macro Economics</li>
      </ul>
    </li>

    <li>Tools
      <ul>
        <li>Python</li>
        <li>R</li>
      </ul>
    </li>

    <li>Methods
      <ul>
        <li>Statistics</li>
        <li>Models</li>
        <li>Linear Algebra</li>
      </ul>
    </li>
  </ul>
</div>
