/**
 * Grid System
 * 10 column grid
 */
[class*="col-"]{
  float: left;
  position: relative;
  min-height: 1px;
}

.full-height {
  height: 100%;
  overflow-y: scroll;
}

.row {
  width: 100%;
}

.col-1 {
  width: 10%;
}

.col-2 {
  width: 20%;
}

.col-3 {
  width: 30%;
}

.col-4 {
  width: 40%;
}

.col-5 {
  width: 50%;
}

.col-6 {
  width: 60%;
}

.col-7 {
  width: 70%;
}

.col-8 {
  width: 80%;
}

.col-9 {
  width: 90%;
}

.col-10 {
  width: 100%;
}

/*
OFFSETS
 */

 .offset-1 {
   margin-left: 10%;
 }

 .offset-2 {
   margin-left: 20%;
 }

 .offset-3 {
   margin-left: 30%;
 }

 .offset-4 {
   margin-left: 40%;
 }

 .offset-5 {
   margin-left: 50%;
 }

 .offset-6 {
   margin-left: 60%;
 }

 .offset-7 {
   margin-left: 70%;
 }

 .offset-8 {
   margin-left: 80%;
 }

 .offset-9 {
   margin-left: 90%;
 }
